#INCLUDE("basename.inc.d.ts")
#INCLUDE("cat.inc.d.ts")
#INCLUDE("cd.inc.d.ts")
#INCLUDE("chmod.inc.d.ts")
#INCLUDE("dirname.inc.d.ts")
#INCLUDE("echo.inc.d.ts")
#INCLUDE("extname.inc.d.ts")
#INCLUDE("ls.inc.d.ts")
#INCLUDE("printf.inc.d.ts")
#INCLUDE("pwd.inc.d.ts")
#INCLUDE("readlink.inc.d.ts")
#INCLUDE("realpath.inc.d.ts")
#INCLUDE("sleep.inc.d.ts")
#INCLUDE("touch.inc.d.ts")
#INCLUDE("which.inc.d.ts")
