include(basename.inc.d.ts)
include(cat.inc.d.ts)
include(cd.inc.d.ts)
include(chmod.inc.d.ts)
include(dirname.inc.d.ts)
include(echo.inc.d.ts)
include(extname.inc.d.ts)
include(ls.inc.d.ts)
include(printf.inc.d.ts)
include(pwd.inc.d.ts)
include(readlink.inc.d.ts)
include(realpath.inc.d.ts)
include(touch.inc.d.ts)
