include(m4-env.inc)

// ===============
// ---------------
// YavaScript APIs
// ---------------
// ===============
include(env.inc.d.ts)
include(parse-script-args.inc.d.ts)
include(filesystem.inc.d.ts)
include(paths.inc.d.ts)
include(commands.d.ts.tmpl)
include(exec.inc.d.ts)
include(glob.inc.d.ts)
include(console.inc.d.ts)
include(strings.inc.d.ts)
include(is.inc.d.ts)
include(pipe.inc.d.ts)
include(start-repl.inc.d.ts)
include(repo.inc.d.ts)
include(traceAll.inc.d.ts)
include(jsx.inc.d.ts)
include(others.inc.d.ts)

// ==========================================
// ------------------------------------------
// QuickJS APIs, which YavaScript builds upon
// ------------------------------------------
// ==========================================
include(quickjs-libc.d.ts)