include(m4-env.inc)
// NOTE: This copy of yavascript.d.ts reflects what is in git.
// APIs may differ from what you have installed.
// If available, consult the copy of yavascript.d.ts that was distributed with your install.

include(yavascript.d.ts.tmpl)