// ===============
// ---------------
// YavaScript APIs
// ---------------
// ===============
#INCLUDE("help.inc.d.ts")
#INCLUDE("yavascript.inc.d.ts")
#INCLUDE("env.inc.d.ts")
#INCLUDE("parse-script-args.inc.d.ts")
#INCLUDE("filesystem.inc.d.ts")
#INCLUDE("path.inc.d.ts")
#INCLUDE("__filename-and-__dirname.inc.d.ts")
#INCLUDE("commands.d.ts.tmpl")
#INCLUDE("exec.inc.d.ts")
#INCLUDE("ChildProcess.inc.d.ts")
#INCLUDE("glob.inc.d.ts")
#INCLUDE("console.inc.d.ts")
#INCLUDE("print.inc.d.ts")
#INCLUDE("strings.inc.d.ts")
#INCLUDE("grep.inc.d.ts")
#INCLUDE("types.inc.d.ts")
#INCLUDE("is.inc.d.ts")
#INCLUDE("assert.inc.d.ts")
#INCLUDE("interactive-prompt.inc.d.ts")
#INCLUDE("start-repl.inc.d.ts")
#INCLUDE("git-repo.inc.d.ts")
#INCLUDE("logger.inc.d.ts")
#INCLUDE("jsx.inc.d.ts")
#INCLUDE("yaml.inc.d.ts")
#INCLUDE("csv.inc.d.ts")
#INCLUDE("toml.inc.d.ts")
#INCLUDE("regexp-escape.inc.d.ts")
#INCLUDE("string-dedent.inc.d.ts")
#INCLUDE("others.inc.d.ts")
#INCLUDE("node-compat.inc.d.ts")

// ==========================================
// ------------------------------------------
// QuickJS APIs, which YavaScript builds upon
// ------------------------------------------
// ==========================================
#INCLUDE("quickjs.d.ts")
#INCLUDE("quickjs-inspect.d.ts")
#INCLUDE("quickjs-intervals.d.ts")
#INCLUDE("quickjs-libc.d.ts")
#INCLUDE("quickjs-modulesys.d.ts")
#INCLUDE("quickjs-libengine.d.ts")
#INCLUDE("quickjs-libbytecode.d.ts")
#INCLUDE("quickjs-libcontext.d.ts")
#INCLUDE("quickjs-libencoding.d.ts")

#INCLUDE("quickjs-globals.inc.d.ts")
